<!DOCTYPE html>
<html>
<head>
  <title>Learn More About Some Of Our Campuses: </title>
</head>
<body>

<center><h1>Learn More About Some Of Our Campuses:</h1></center>

<center><h2>SAN FRANCISCO</h1></center>
<center><p> Our San Francisco campus is in California.</p></center>
<center><h2>SEATTLE</h1></center>
<center><p> Seattle is in Washington.</p></center>
<center><h2>NEW YORK CITY</h1></center>
<center><p>New York City is in New York.</p></center>
<center><h2>CHICAGO</h1></center>
<center><p>Chicago is in Illinois.</p></center>
<center><h2>SAN DIEGO</h1></center>
<center><p>San Diego is in California</p></center>

<center><h1> Contact Us! </h1></center>

<p> <center> We are aware the information we provided above is absolutely useless. This is because we are feeling really lazy right now. So, if you have additional questions, please provide your contact details. We will message you back at some point. One day. Maybe. Meh. </center></p>

  <form>
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="Email Address" placeholder="Email Address">
    <input type="text" name="Campus Interested In" placeholder="Campus Interested In">
    <button type="submit">Submit</button>
  </form>
</body>
</html>